* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.intro {
  position: relative;
  height: 100vh;
  background-color: black;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  font-family: sans-serif;
  letter-spacing: 0.5rem;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  text-transform: uppercase;
}
.title__main {
  text-transform: none;
  font-size: 7.5rem;
}
.title__tertiary {
  font-family: serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
}
.title__tertiary--1 {
  border-right: 1px solid dimgray;
  padding: 0 1rem;
}
.title__tertiary--2 {
  padding: 0 1rem;
}
.title__button {
  color: #efefef;
  margin-top: 3rem;
  border: 3px solid dimgray;
  background-color: transparent;
  padding: 2rem 3rem;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.title__button:hover {
  cursor: pointer;
  border-color: #cc005f;
}
.intro__footer-icons {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
}
.intro__footer-icons .fab {
  margin: 0 2rem;
  transition: all 0.3s ease-in-out;
}
.intro__footer-icons .fab:hover {
  color: #cc005f;
  cursor: pointer;
}
